/* colors */

:root {
    --heading-color:#F2D349;
    --text1-color:#9E15BF;
    --text2-color: #FFFFFF;
    --link-color:#1BA098;
}
/* global styles */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url("/assets/images/pexels-joyston-judah-933054.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}




header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -12%;
    
    width: 100%;
    height: auto;
}

.countdown-container {
    display: flex;
    flex-direction: row;
    gap:8%;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 100%;
}




/* typograph */

h1 {
    font-size:3rem;
    color: var(--heading-color);
}

span {
    font-size:1.5rem;
    color: var(--text1-color);
}

.big-text  {
    text-align: center;
    font-size:3rem;
    color: var(--text2-color);
}


a {
    font-size:2.4rem;
    font-weight: 600;
    color: var(--link-color);
}


